//menu buttons
html, body {
  margin: 0;
  padding: 0;
  position: fixed;
  font-family: Open Sans;
}

.navbar-fta {
  background: #f44336;
  color: white;
  height: 44px;
  display: flex;
  position: fixed;
  justify-content: space-between;
}
  .navbar-logo {
    font-size: 108px;
    line-height: 0;
    top: 5px;
    position: fixed;
  }
  .navbar-menu {
    text-align: center;
    position: fixed;
    width: 44px;
    i {
      height: 44px;
      width: 44px;
      display: block;
      line-height: 50px;
      font-size: 26px;
      cursor: pointer;
    }
  }

.flyout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; 
  background: #333;
  width: 90%;
  max-width: 340px;
  color: white;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.3), 0px 0 100px 10px rgba(#000, 0.5);
  transition: all 300ms ease;
  &.closed {
    transform: translateX(-340px);
    opacity: 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .flyout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    
    .flyout-close {
      height: 44px;
      width: 44px;
      display: block;
      line-height: 50px;
      font-size: 26px;
      cursor: pointer;
      text-align: center;
    }
    .flyout-title {
      flex-grow: 1;
      text-align: center;
    }
  }
  .flyout-menu {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    a {
      padding: 14px 44px 18px;
      display: block;
      font-size: 16px;
      line-height: 38px;
      &:hover {
        background: rgba(#000, 0.2);
      }
      i {
        font-size: 28px;
        position: fixed;
        top: 8px;
        margin-right: 5px;
      }
    }
  }
}

.cheek {
  width: 44px;
  height: 44px;
}