html, body {
  margin: 0;
  padding: 0;
  font-family: Open Sans; }

.navbar-fta {
  background: #f44336;
  color: white;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar-fta .navbar-logo {
    font-size: 108px;
    line-height: 0;
    top: 5px;
    position: relative; }
  .navbar-fta .navbar-menu {
    text-align: center;
    position: relative;
    width: 44px; }
    .navbar-fta .navbar-menu i {
      height: 44px;
      width: 44px;
      display: block;
      line-height: 50px;
      font-size: 26px;
      cursor: pointer; }
    .navbar-fta .navbar-menu .navbar-notification {
      position: absolute;
      right: 0;
      bottom: 5px;
      width: 16px;
      height: 16px;
      background: #fed81f;
      border: 3px solid #f44336;
      color: black;
      border-radius: 50%;
      font-size: 10px;
      line-height: 16px;
      font-weight: bold; }

.flyout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #333;
  width: 90%;
  max-width: 340px;
  color: white;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.3), 0px 0 100px 10px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease; }
  .flyout.closed {
    transform: translateX(-340px);
    opacity: 0; }
  .flyout a {
    color: white;
    text-decoration: none; }
  .flyout .flyout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px; }
    .flyout .flyout-header .flyout-close {
      height: 44px;
      width: 44px;
      display: block;
      line-height: 50px;
      font-size: 26px;
      cursor: pointer;
      text-align: center; }
    .flyout .flyout-header .flyout-title {
      flex-grow: 1;
      text-align: center; }
  .flyout .flyout-menu {
    list-style: none;
    padding: 0;
    margin: 10px 0; }
    .flyout .flyout-menu a {
      padding: 14px 44px 18px;
      display: block;
      font-size: 16px;
      line-height: 38px; }
      .flyout .flyout-menu a:hover {
        background: rgba(0, 0, 0, 0.2); }
      .flyout .flyout-menu a i {
        font-size: 28px;
        position: relative;
        top: 8px;
        margin-right: 5px; }

.cheek {
  width: 44px;
  height: 44px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.modality-form-wrap {
  position: relative;
  margin: 0 auto;
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
  margin-bottom: 30px; }
  .modality-form-wrap h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e; }
  .modality-form-wrap .form {
    padding-top: 20px; }
    .modality-form-wrap .form input[type="email"],
    .modality-form-wrap .form input[type="password"],
    .modality-form-wrap .form button {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 25px;
      height: 40px;
      border-radius: 5px;
      outline: 0;
      -moz-outline-style: none; }
    .modality-form-wrap .form input[type="email"],
    .modality-form-wrap .form input[type="password"] {
      border: 1px solid #bbb;
      padding: 0 0 0 10px;
      font-size: 14px; }
      .modality-form-wrap .form input[type="email"]:focus,
      .modality-form-wrap .form input[type="password"]:focus {
        border: 1px solid #57bfda; }
    .modality-form-wrap .form a {
      text-align: center;
      font-size: 10px;
      color: #57bfda; }
      .modality-form-wrap .form a p {
        padding-bottom: 10px; }
    .modality-form-wrap .form button {
      background: #f44336;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 200;
      cursor: pointer;
      transition: box-shadow 0.4s ease; }
      .modality-form-wrap .form button:hover {
        box-shadow: 1px 1px 5px #555; }
      .modality-form-wrap .form button:active {
        box-shadow: 1px 1px 7px #222; }
  .modality-form-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #57bfda 40%, #57bfda 60%, #f44336 60%, #f44336 80%, #fed81f 80%, #fed81f 100%);
    background: -moz-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #57bfda 40%, #57bfda 60%, #f44336 60%, #f44336 80%, #fed81f 80%, #fed81f 100%);
    height: 5px;
    border-radius: 5px 5px 0 0; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  font-family: "Monda", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../../Images/background.jpg);
    background-attachment: fixed;
    background-size: cover; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  text-shadow: 2px 2px black;    }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }

main {
  padding: 4 rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons:hover {
      color: #086788;
      transition: all 0.5 ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 15vh; }

a {
  color: #dd1c1a; }

header {
  position: fixed; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
    font-size-adjust: inherit; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; } }

.about-info {
  grid-template-areas: 'bioimage'
 'bio'
 'job1'
 'job2'
 'job3';
  grid-template-columns: 1fr; }

  table { 	
    border-collapse: collapse; 	
  }	
   tr { 	
    border: none; }	
   td, th {	
    /* border-right: solid 1px lightgray; 	
    border-left: solid 1px black; */	
    border-bottom: solid 1px #086788; 	
    border-top: solid 1px #086788; 	
  }	
   .itemName {	
    font-weight: bolder;	
  }	
      
  .entryForm {	
    color: red;	
  }	
   .inputClass {	
    color: black;	
  }	
   .inputContainer { 	
    border-collapse: collapse; 	
    background-color: #57bfda;	
  color: white;	
  }	
   .tableContainer { 	
    border-collapse: collapse; 	
    background-color: #57bfda;	
    color: white;	
  };	
   #greedy {	
  text-shadow: 2px 2px #FF0000;	
  font-size: 60px;	
  }	
   .itemInput {	
    display: none;	
  }	
   #online {	
     
    background-color: grey;	
    border: none;	
    color: white;	
    padding: 10px 20px;	
    text-align: center;	
    text-decoration: none;	
    display: inline-block;	
    font-size: 16px;	
    margin: 4px 2px;	
    border-radius:2px;	
  }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
