<div class="container">
  <div class="row">
    <div class="col-12 offset-2">
      {{>navigation/nav-logout}}
      <h2>What Do You Want To Do?</h2>
      <button class="btn btn-danger createRegistry">Create / View My List</button>
      <button class="btn btn-warning viewFriend">View a Friends List</button>
      <button class="btn btn-success shopping">See My Shopping List</button>
<br>
      {{#each user}}

        <button data-uuid={{uuid}} class="seeGifts">{{name}}</button>

      {{/each}}

    
        
    </div>  
  </div>
</div> 