<div id="home">

  <div class="container">

    <div class="row">

      <div class="col-8 offset-2">

        <h1>{{msg}}</h1>
        

        {{#if loginPage}}
        <span>not </span>
        {{/if}}
        <span>already a member</span>
        {{#if loginPage}}
        <span id="signupBtn" data-status="false">SIGN UP</span>
        {{else}}
        <span id="loginBtn" data-status="true">SIGN IN</span>
        {{/if}}
        
        {{#if loginPage}}
        <h1>login page</h1>
        {{> login/login}}
        {{/if}}
        {{#if signupPage}}
        <h1>signup page</h1>
        {{> signup/signup}}
        {{/if}}
        {{#if giftPage}}
        <h1>gifts page</h1>
        {{> gifts/gifts}}
        {{/if}}


        {{!-- {{>decisions/decisions}} --}}


        {{>viewGifts/viewGifts}}

        

      </div>

    </div>

  </div>
  
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/js.js"></script>
