<div>
	<div class="modality-form-wrap" id="loginPage">

		<h2>Login</h2>

		<div class="form">
			<input type="email" placeholder="Email" name="email" id="emailIn" />
			<input type="password" placeholder="Password" name="pw" id="passwordIn" />
			<button> Sign in </button>
			<a href="./signup">
				<p> Don't have an account? Register </p>
			</a>
		</div>
	</div>
</div>