<div class="modality" id="loginPage">
    <br><br>
    <form>
    <h1>Sign In</h1>
    <p>if not already a member <a href="./signup">SIGN UP</a></p>
    <br>
    <h2>email: </h2>
    <br><input type="email" id="emailIn">
    <br><br>
    <h2>password: </h2>
    <br><input type="password" id="passwordIn">
    <br><br>
    <input type="submit" class="submit" id="signIn">
    </form>
</div>