<div class="modality-form-wrap" id="loginPage">

	<form class="login-form" action="POST" action="#">
		<label>
			<input type="email" name="email" required placeholder="Email" id="emailIn">
		</label>
		<label>
			<input type="password" name="password" required placeholder="Password" id="passwordIn">
		</label>
		<br>
		<input type="submit" class="submit" value="Login" id="signIn">
	</form>
	<h5><a href="#">Forgot password</a></h5>
	<h5><a href="#">Not a member?<a href="./signup"><b>Sign Up</b></a></h5>
	</section>