<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
        <h2>The Greedy Bastard List</h2>
        {{>navigation/nav-users}}
        {{>navigation/nav-logout}}
        <h3>BUY ME THIS....NOW!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      {{>shoppingList/partial-shop}}
    </div>
  </div>
</div>









