<div class="container">
    <div class="row">
        <div class="col-12 offset-2">
            {{message}}
            <h2>What Do You Want To Buy?</h2>
        
           <ul>
               {{#each gift}}
           </ul>

        </div>
    </div>
</div>
