<div class="modality-form-wrap" id="signUpPage" style="
    width: 487px;
    height: 842px;
    padding-top: -;
    margin-top: 60px;
    padding-top: -;
    padding-top: 25px;">
	<form>

		<h4>Name:</h4>
		<label>
			<input type="text" name="username" required placeholder="First and Last Name" id="nameUp">
		</label>
		<h4>E-mail:</h4>
		<label>
			<input type="email" name="email" required placeholder="Email" id="emailUp">
		</label>
		<h4>Create a new password:</h4>
		<label>
			<input type="password" name="password" required placeholder="New password" id="passwordUp">
		</label>
		<h4>Confirm password:</h4>
		<label>
			<input type="password" name="password" required placeholder="Confirm password" id="passwordConfirm">
		</label>
		<br>
		<input type="submit" class="submit" value="Login" id="signIn">
	</form>
	<h5><a href="#">Forgot password</a></h5>
	<h5><a href="#">Already a member?<a href="./login"><b>Click click here to log in!</b></a></h5>
	</section>