<div>
	<div class="modality-form-wrap" id="loginPage">

		<h2>Sign Up</h2>

		<div class="form">
			<input type="text" placeholder="First & Last Name" name="user name" id="nameUp" />
			<input type="email" placeholder="E-mail" name="email" id="emailUp" />
			<input type="password" placeholder="Password" name="pw" id="passwordUp" />
			<input type="password" placeholder="Confirm Password" name="pw" id="passwordConfirm" />
			<button id="signUp"> Sign Up</button>
			<a href="/">
				<p> Already a member? Log In </p>
			</a>
		</div>
	</div>
</div>