<div class="container">
  <div class="row">
    <section class="col-9">
      <div class="row">
        <div class="col-12 offset-2">
        </div>
      </div>

      <div class="row">
        <div class="col-12 offset-2">
          <h2>What Do You Want To Do?</h2>
          {{>navigation/nav-createRegistry}}
          {{>navigation/nav-viewFriend}}
          {{>navigation/nav-shopping}}
          {{>shoppingList/partial-shop}}
        </div>
      </div>

      <div class="row center-align">
        <div class="col s12">

        </div> 
      </div>
    </section>

    <section class="col-3">
      {{>shoppingList/partial-sidebarShoppingList}}
    </section>
  </div>
</div>