<div class="container">
	<div class="row">
		<div class="col-12 offset-2">
		</div>
	</div>

  <div class="row center-align">
    <div class="col s12">
      <h2 class="center-align">What Do You Want To Do?</h2>
    </div>
	</div>

  <div class="row center-align">
    <div class="col s12">

      <button class="waves-effect waves-light red btn-large createRegistry">Create / View My List</button>

      <button class="waves-effect waves-light light-blue lighten-1 btn-large viewFriend">View a Friends List</button>
 
      <button class="waves-effect waves-light green btn-large viewShopping">See My Shopping List</button>
      
</div> 
</div>

</div>