<div class="container">
  <div class="row">
    <div class="col-12 offset-2">
      {{>navigation/nav-logout}}
			{{>navigation/nav-menu}}
      	</div>
  </div>

      <div class="row">
    <div class="col-12 offset-2">
      <h2>What Do You Want To Do?</h2>
      {{>navigation/nav-createRegistry}}
      {{>navigation/nav-viewFriend}}
      {{>navigation/nav-shopping}}
      {{>shoppingList/partial-shop}}
      <br>
      {{#each user}}
			  <button data-uuid={{uuid}} class="seeGifts">{{name}}</button>
			{{/each}}
		</div>
	</div>
  
</div>