		<header>
			<div class ="menu-btn">
				<div class="btn-line"></div>
				<div class="btn-line"></div>
				<div class="btn-line"></div>
			</div>
			<!-- Main menu -->
			<nav class="menu">
				<div class="menu-branding">
					<div class="portrait"></div>
				</div>
				<!-- nav buttons -->
				<ul class="menu-nav">
					<li class="nav-item current">
						<a href="/" class="nav-link">
							Home
						</a>
					</li>
					<!-- Navigation link to about me -->
					<li class="nav-item">
						<a href="/api/view" class="nav-link">
							Add To Wishlist
						</a>
					</li>
						<!-- Navigation link to portfolio -->
					<li class="nav-item">
						<a href="/api/view:id" class="nav-link">
							My Wishlist
						</a>
					</li>
						<!-- Navigation link to contact me -->
					<li class="nav-item">
						<a href="/cart" class="nav-link">
							My Cart
						</a>
					</li>
				</ul>
			</nav>
		</header>
