<div class="navbar-fta">
  <div class="navbar-menu">
    <i class="material-icons" id="menu-open">menu</i>
  </div>
  <div class="navbar-logo">
    <i class="icon-logo"></i>
  </div>
  <div class="cheek"></div>
</div>

<div class="flyout closed">
  <div class="flyout-header">
    <i class="material-icons flyout-close" id="menu-close">keyboard_backspace</i>
    <h3 class="flyout-title">Welcome</h3>
    <div class="cheek"></div>
  </div>
  <ul class="flyout-menu">
    <li>
      <a href="/viewuser">
        <i class="material-icons">home</i>
        Home
      </a>
    </li>
    <li>
      <a href="/api/gifts">
        <i class="material-icons">view_list</i>
        My Wishlist
      </a>
    </li>
		<li>
      <a href="/api/cart/">
        <i class="material-icons">shopping_cart</i>
        Shopping List
      </a>
    </li>
    <li>
      <a href="/api/userwish">
        <i class="material-icons" id="users">group</i>
				View a Friends List
          </a>
		<li>
      <a href="/" id="logout">
        <i class="material-icons">settings_backup_restore</i>
       Sign Out
      </a>
    </li>
  </ul>
</div>